# 全ファイルを一度無視
/*
# dotfileも無視
/.*

# 無視したくないファイルを![filename]で指定
!/.bash_aliases
!/.bash_profile
!/.bashrc
# vim関連
!/.vimrc
!/.vim
# git関連
!/.gitignore
!/.gitconfig
!/.gitmodules
# irb関連の設定ファイル
!/.irbrc

