# 全ファイルを一度無視
/*
# dotfileも無視
/.*

# 無視したくないファイルを![filename]で指定
!/.bash_aliases
!/.bash_profile
!/.bashrc
!/.zshrc
# tmux
.tmux.conf
# vim
!/.vimrc
!/.vim
# git
!/.gitignore
!/.gitconfig
!/.gitmodules
# ruby
!/.irbrc
# python
!/.pystartup
