[user]
    name = siriusjack
    email = siriusjack@gmail.com
[color]
    ui = true
[core]
    editor = vim
    pager = less -r
    excludesfile = ~/dotfiles/.gitignore_global
[alias]
    br = branch
    co = checkout
    cm = commit
    li = log --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --date=short
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    p = !git push origin `git rev-parse --abbrev-ref HEAD`
    st = status
[ghq]
    root = ~/ghq
    root = ~/go/src
[push]
    default = simple
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
