# ignore all
/*
/*/

# white list
!setup_dotfiles.sh
!setup_brew.sh
!.bash*
!.condarc
!.emacs

!.ipython
.ipython/*

!.ipython/profile_default
.ipython/profile_default/*
!.ipython/profile_default/static
.ipython/profile_default/static/*
!.ipython/profile_default/static/custom

!.ipython/profile_julia
.ipython/profile_julia/*
!.ipython/profile_julia/static
.ipython/profile_julia/static/*
!.ipython/profile_julia/static/custom

!.matplotlib

!.tmux.conf
!.vim
!.vimrc
!.tcsh*
!.tcshrc
!.zsh*
!.zshenv
!.zshrc*
